.history/
.screenshots/
**/.junk/
node_modules/
/tools/
.vscode/settings.json
tours.zip
tsconfig.json
wokwi.vcd
workspace/.emscript
workspace/emscript.ini
workspace/emscript-local.ini
workspace/zlocal/
.DS_Store
